@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  src: url("../assets/Fonts/GoogleSansFlex.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans Flex thin";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/Fonts/GoogleSansFlex.woff2") format("woff2");
}
/* Dark mode */

  :root {
    --background: #121213;
    --foreground: #e5e5e5;
    --button: #3b82f6;
    --button-hover: #1d4ed8;
    --border: #2a2a2a;
    --accent: #60a5fa;
    --accent2: #10afa2;
    --accent3: #34d399;
    --muted: #9ca3af;
    --icon: #c2c2c2;
    --search: #222326;
    --descriptor: #1b1c1f;
    --hr: #404040;
    --transition-time: 0.3s;
    --navHeight: 101px;

    --code-bg: #3e3b2e; /* subtle yellowish bg for code */
    --code-fg: #fefcbf; /* light yellow text */
    --highlight: #60a5fa; /* accent highlight */
    --highlight2: #10afa2;
    --highlight3: #34d399;
    --block-code: #0c1117;

  }

/* Light mode */
.light {
  --background: #fafafa;
  --foreground: #1a1a1a;
  --button: #2563eb;
  --button-hover: #1e4bcc;
  --border: #e5e5e5;
  --accent: #2563eb;
  --accent2: #14b8a6;
  --accent3: #10b981;
  --muted: #6b7280;
  --icon: #616161;
  --search: #f3f4f6;
  --descriptor: #f1f3f5;
  --hr: #d1d5db;

  /* New palette colors */
  --code-bg: #fef9c3; /* subtle yellow bg for code */
  --code-fg: #78350f; /* dark brown text */
  --highlight: #2563eb;
  --highlight2: #14b8a6;
  --highlight3: #10b981;
  --block-code: #edeef3;

}
